<section class="footer-email">
 <!-- moved to main.css -->

  <div class="footer-email__content">
    <h3 class="footer-email__heading heading-2 text-center">Email Signup</h3>

    <div class="footer-email__text text-center">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="footer-email__form">
      <%= partial "components/email-form" %>
    </div>
  </div>
</section>