<div class="page-footer">
 <!-- moved to main.css -->

  <div class="page-footer__content content-wrapper">
    <%= partial "components/footer-menus" %>

    <%= partial "components/footer-email" %>

    <%= partial "components/footer-social" %>

    <%= partial "components/footer-utility" %>
  </div>
</div>