<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Syatt Front End Developer Assessment</title>

    <link rel="preload" href="/stylesheets/main.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/stylesheets/main.css"></noscript>
    
    <link rel="stylesheet" href="/stylesheets/non-critical.css" media="print" onload="this.media='all'">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <script defer type="importmap">
      {
        "imports": {
          "helpers": "/javascripts/helpers.js",
          "wyatt": "/javascripts/wyatt.js"
        }
      }
    </script>
  </head>
  <body>
    <%= partial "components/page-header" %>
    
    <div class="page-content">
      <%= yield %>
    </div>
    
    <%= partial "components/page-footer" %>
  </body>
</html>
