<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Syatt Front End Developer Assessment</title>
    <!-- critical css -->
    <style>
      .content-wrapper {
          margin: 0 5vw;
      }
      .hero {
        display: grid;
        position: relative;
        grid-template-areas: "media";
        width: 100%;
      }

      .hero__media-wrapper {
        grid-area: media;
      }

      @media screen and (min-width: 768px), print {
        .hero__media-wrapper--medium {
          max-height: 360px;
        }
      }

      .hero__media--placeholder {
        display: block;
        background: var(--color-grays-02);
      }

      .hero__content-wrapper {
        display: flex;
        grid-area: media;
        flex-direction: column;
        padding: var(--spacing-unit-xs);
      }

      .hero__content-wrapper--middle-center {
        align-self: center;
        justify-self: center;
      }

      .hero__content {
        padding: var(--spacing-unit-m);
        max-width: 700px;
      }
    </style>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preload" href="/stylesheets/main.css" as="style" onload="this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/stylesheets/main.css"></noscript>
    
    <link rel="stylesheet" href="/stylesheets/non-critical.css" media="print" onload="this.media='all'">


    <script defer type="importmap">
      {
        "imports": {
          "helpers": "/javascripts/helpers.js",
          "wyatt": "/javascripts/wyatt.js"
        }
      }
    </script>
  </head>
  <body>
    <%= partial "components/page-header" %>
    
    <div class="page-content">
      <%= yield %>
    </div>
    
    <%= partial "components/page-footer" %>
  </body>
</html>
